<div>
  <div class="inline">
    <p>Examples</p>
    {{view Ember.Select
      class="select"
      content=examples
      optionLabelPath="content.text"
      optionValuePath="content.value"
      value=selectedExample}}
  </div>
  <div class="inline">
    <p>Template</p>
    {{textarea value=daTemplate class='template-input' classNameBindings='templateParseError' }}
  </div>
  <div class="inline">
    <p>Context</p>
    {{textarea value=daContext class='context-input' classNameBindings='jsonParseError' }}
  </div>
</div>

{{bar-chart values=chartValues}}

<div class="inline">
  <h2>Handlebars</h2>
  <div class="precompile">
    <code class="hljs javascript">
      {{{highlightedHandlebars}}}
    </code>
  </div>
  {{ view 
    class="rendered"
    instrumentName="render-time.handlebars"
    template=handlebarsTemplate
    context=jsonContext }}
</div>
<div class="inline">
  <h2>HTMLbars</h2>
  <div class="precompile">
    <code class="hljs javascript">
      {{{highlightedHTMLBars}}}
    </code>
  </div>
  {{ view 
    class="rendered"
    instrumentName="render-time.htmlbars"
    template=htmlbarsTemplate
    context=jsonContext }}
</div>
